body{background-color: #ffd3ff;}
label{color: black;}
.warn {
 background: #ffd3ff(255, 255, 255, 0.801);
 padding: 10px;
}
.fadeInLeft {
 animation-name: fadeInLeft;
 animation-duration: 2s;
}
@keyframes fadeInLeft {
 from {
  opacity: 0;
  transform: translateX(-2000px);
 }
 to {
  opacity: 1;
  transform: none;
 }
}